{% extends 'base.html' %}


{% block title %}登録{% endblock %}


{% block body %}
<div>
  <form action="/register" method="POST" class="row g-3 form-box">
    <div class="mb-3">
      <label for="title" class="form-label">本のタイトル</label> <!-- label内のforはlabel要素もクリック範囲にする -->
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="mb-3">
      <label for="purpose" class="form-label">目的</label>
      <input type="text" class="form-control" id="purpose" name="purpose">
    </div>
    <div class="mb-3">
      <label for="thoughts">感想</label>
      <textarea class="form-control" id="thoughts" style="height: 100px" name="thoughts"></textarea>
    </div>
    <div class="mb-3">
      <label for="memo">メモ</label>
      <textarea class="form-control" id="memo" style="height: 100px" name="memo"></textarea>
    </div>
    <label for="purpose" class="form-label">総合評価</label>
    <select class="form-select" aria-label="score" name="score">

      <!-- <option selected>?/5</option> -->
      <option value="★☆☆☆☆">1</option>
      <option value="★★☆☆☆">2</option>
      <option value="★★★☆☆">3</option>
      <option value="★★★★☆">4</option>
      <option value="★★★★★">5</option>
    </select>
    <input type="submit" class="styled" value="登録">
  </form>
</div>
{% endblock %}